@import '../../styles/variables/_colors.module.scss';

.input {
  width: 100%;
  border: 0.6px solid $ui-color-dark-grey;
  border-radius: 6px;
  padding: 20px 25px 20px 10px;
  font-size: 16px;

  &-name {
    display: inline-block;
    margin-bottom: 6px;
  }
}
