@import '../../styles/variables/_colors.module.scss';

.button {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  border: none;
  color: $ui-color-white;
  background-color: $ui-color-light-blue;
  cursor: pointer;
  transition: all 0.1s ease;
  border-radius: 6px;
  font-weight: 500;

  &:hover {
    opacity: 0.9;
  }
}
