@import '../../styles/variables/_colors.module.scss';

.form {
  &-container {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-mobile {
      width: auto;
      position: static;
      left: 0;
      top: 0;
      transform: translate(0, 0);
      padding: 15px;
    }
  }
  &-title {
    margin-bottom: 32px;
  }
  &-inputs-container {
    display: grid;
    grid-row-gap: 35px;
    margin-bottom: 40px;
  }
  &-message {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;

    &-mobile {
      p,
      a {
        font-size: 14px;
      }
    }

    p {
      margin-right: 10px;
    }

    a {
      border-bottom: 1px solid $ui-color-light-blue;
    }
  }
}
