.todo-form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-bottom: 20px;
  width: fit-content;

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.from-title-wrapper {
  display: flex;
  align-items: center;
}
